.Wrapper {
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
}

.Link {
  text-overflow: 'ellipsis';
  max-width: 'fit-content';
  overflow: 'hidden';
}

.Link > span:hover {
  text-decoration: underline;
}

.Timestamp {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

@media (max-width: 450px) {
  .Timestamp {
    display: none;
  }
}