.Main {
  flex-grow: 1;
  overflow: hidden;
}
.Title {
  font-size: 1.0625rem;
  font-weight: 500 !important;
  margin-bottom: 0.3rem;
}
.Description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Footer {
  font-size: 12px !important;
}
