.Main {
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.Description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.Footer {
  font-size: 12px !important;
}
