.Container {
  border: 1px solid black;
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  border-radius: 8px;
}

input.TextInputField, input.FileInputField {
  width: 100%;
  border-radius: 8px;
  border: 1px solid black;
  margin-top: 5px;

}

input.TextInputField {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
}

label.InputLabel {
  font-size: 13px;
}

.FileInputField::file-selector-button {
  background-color: var(--pastel-blue);
  border: none;
  border-right: 1px solid black;
  padding: 10px;
  margin-right: 10px;
}

.ButtonsContainer {
  display: flex;
  justify-content: space-evenly;
}

.SaveButton, .ParseButton {
  align-self: center;
  text-align: center;
  width: 100px;

  border: 1px solid black;
  border-radius: 8px;
  padding: 10px;
}

.SaveButton {
  background-color: var(--pastel-pink);
}

.ParseButton {
  background-color: var(--pastel-green);
}