.Test {
  display: inline-flex;
  max-width: 100%;
  overflow: auto;
  flex-wrap: nowrap;
}

.ButtonsContainer {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-direction: row-reverse;
  margin-bottom: 1rem;
}

@media (max-width: 750px) {
  .ButtonsContainer {
    justify-content: space-between;
  }
}