.Wrapper {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.175);
  padding: 1rem;
  border-radius: 0.375rem;
  overflow: hidden;
  white-space: nowrap;
}

.Email {
  overflow: hidden;
  max-width: fit-content;
  text-overflow: ellipsis;
}