label.InputLabel {
  font-size: 13px;
}

input.TextInputField, input.FileInputField {
  width: 100%;
  border-radius: 8px;
  border: 1px solid black;
  margin-top: 5px;
}

input.TextInputField {
  display: inline-block;
  box-sizing: border-box;
  padding: 10px;
}

.FileInputField::file-selector-button {
  background-color: var(--pastel-blue);
  border: none;
  border-right: 1px solid black;
  padding: 10px;
  margin-right: 10px;
}