.Wrapper {
  cursor: pointer;
}
.Wrapper:hover {
  background-color: #f9f9f9;
}
.Left {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 90%;
}
.HeaderContainer {
  display: flex;
  align-items: center;
  margin-bottom: 0.3rem;
  gap: 8px
}
.Subtitle {
  font-size: 13px;
  color: #858a8e
}
@media (max-width: 600px) {
  .Title {
    font-size: 16px !important;
  }
}