:root {
  --pastel-blue: #B4D5F9;
  --pastel-pink: #EDC4BC;
  --pastel-green: #B7E5D5;
}

html,
body {
  font-size: 15px;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body > #__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f6f8fa;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.core-container {
  width: 100%;
  max-width: 75rem;
  padding-left: 45px;
  padding-right: 45px;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  .core-container {
    padding-left: 18px;
    padding-right: 18px;
  }
}

.nav-link {
  color: black !important;
}

.nav-tabs .nav-link.active {
  font-weight: 500;
  background-color: transparent !important;
  border: none;
  border-bottom: 2px solid red;
  border-color: red !important;
}

.accordion-button {
  box-shadow: none !important;
}
:focus-visible {
  outline: none !important;
}
.accordion-button:not(.collapsed) {
  color: unset !important;
  background-color: transparent !important;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
.list-group-flush>.list-group-item:first-child {
  border-top: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.link-hover:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  .rdrMonth {
    width: 100% !important;
  }
}

.no-scroll {
  overflow: hidden;
}
.show {
  display: block !important;
}
.modal-backdrop {
  z-index: 3000 !important;
}
.modal {
  z-index: 3005 !important;
}